{% extends "base.html.twig" %}

{% block title %}Export OK{% endblock %}

{% block body %}
    <div class="alert alert-success" role="alert">
        Test exporté avec succès !
    </div>

    <a href="tests" class="btn btn-primary">Tests</a>
{% endblock %}